.mat-card {
  margin: 10% auto;
  background-color: rgba(250, 159, 85, 0.521);
  width: 300px;
  height: 300px;
  border-radius: 12px;
}

mat-card-content {
  max-width: 300px;
  max-height: 300px;
}
